:root {
  --main-bg-color: #f29b18;
}

.app {
  background-color: var(--main-bg-color);
  margin: 0 auto;
  height: 100vh;
}

.app-header {
  background-color: #fff;
}

.app-logo {
  height: 6vh;
  pointer-events: none;
  padding: 1rem;
}